.about-me {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 40px 80px;
    margin: 80px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.about-me > * {
    color: var(--dark);
}

.github-link {
    background-color: var(--dark-accent);
    color: var(--light);
    padding: 5px 10px;
    border-radius: 14px;
    display: inline-flex;
    gap: 5px;
    transition: box-shadow 0.5s ease;
    border: 3px solid white
}

.github-link:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.github-link > img {
    height: 25px;
}

.about-me > img {
    border-radius: 20px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Medium (tablet) screens */
@media screen and (max-width: 1000px) {
    .about-me{
        padding: 40px;
    }
}

/* Small (phone) screens */
@media screen and (max-width: 700px) {
    .about-me {
        background-color: transparent;
        flex-direction: column-reverse;
        box-shadow: none;
        padding: 0;
        gap: 0;
    }

    .info {
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px 0;
        padding: 30px;
    }
}
