.project {
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.right {
    flex-direction: row-reverse;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.carousel > img {
    max-height: 200px;
}

.carousel > button {
    aspect-ratio: 1 / 1;
    height: 30px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    border: none;
}

.carousel > button:hover {
    cursor: pointer;
    background-color: lightgray;
}
