* {
    /* border: 2px solid red; */
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #473144;
}

h1, h2 {
    font-family: "Lora", Impact, serif;
    color: #AF1B3F;
}

h1 {
    display: flex;
    justify-content: center;
}

a {
    color: #AF1B3F;
    text-decoration: none;
}

.filter-panel {
    border: 2px solid #EFC69B;
}

.info-panel {
    border-right: 2px solid #EFC69B;
}

.info-panel h3, .info-panel p {
    display: flex;
    justify-content: right;
}

.book-panel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu-links {
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
}

#menu-links ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    list-style: none;
}

#reviews {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#book-info-1, #book-info-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px;
}

div {
    margin: 10px;
}

.info-panel * {
    margin-right: 15px;
}

.date {
    font-size: 20px;
}

.skiptocontent a {
    color: white;
    position: absolute;
    left: -200px;
    justify-content: center;
    background-color: #AF1B3F;
    max-width: 180px;
    border: 10px solid #AF1B3F;
    border-radius: 10px;
}
.skiptocontent a:focus {
    position: static;
    display: flex;
}