* {
    /* border: 2px solid red; */
}

:root {
    --dark: #473144;
    --red: #AF1B3F;
    --light: #EFC69B;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--dark);
}

h1, h2 {
    font-family: "Lora", Impact, serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--dark);
}

h2 {
    color: var(--red);
}

a {
    color: var(--red);
    text-decoration: none;
}

.filter-panel {
    border: 2px solid var(--light);
}

.info-panel {
    border-right: 2px solid var(--light);
}

.info-panel h3, .info-panel p {
    display: flex;
    justify-content: right;
}

.book-panel img {
    display: block;
    margin: 15px auto;
}
.book-panel h2, .book-panel p {
    margin: auto 20px;
}

#menu-links {
    border-top: 2px solid var(--light);
    border-bottom: 2px solid var(--light);
}

#menu-links ul {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: end;
    list-style: none;
}

#reviews {
    display: grid;
    grid-auto-flow: row;
}

#content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px auto;
}

.book-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 20px;
}

.info-panel * {
    margin: 8px;
}

.date {
    font-size: 20px;
}

.skiptocontent a {
    color: white;
    position: absolute;
    left: -200px;
    justify-content: center;
    background-color: var(--red);
    max-width: 180px;
    border: 10px solid var(--red);
    border-radius: 10px;
}
.skiptocontent a:focus {
    position: static;
    display: flex;
}
